/*
*, *:before, *:after {
border: 1px solid red;
}
*/

// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// Post listing
.posts {
  h2 {
    padding:5% 20% 0%;
    text-align: center;
  }
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Work listing
.work {

  padding: 2% 2%;
  float: left;
@extend %padding-small;
  background-size: $feature-image-size;
  border-bottom: 1px solid $border-color;
  h2 {
    text-align: center;

  }
  
  li {
    width: 100%;
    margin-right:0.5%;
    margin-left:0.5%;
    margin-bottom: 40px;
    display: inline-block;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Projects

.projects {
    margin-top: 5%;
    margin-right: .5%;
    width: 49%;
    float: left;
}

.projects-description {
    margin-bottom: 20px;
}

// Posts

.posts {
    float: left;
}

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-small 0 $padding-small;
  text-align: center;
}
